/* tricks from https://madebymike.com.au/writing/precise-control-responsive-typography/*/
:root { font-size: 14px;  /* default below 600px */ }

img.aktual-img{ display:none;}
@media (min-width: 770px){
  img.aktual-img{
    display:block;
    margin-top:1rem;
    width:86%;
  }
}
@media (min-width: 933px){
    :root {
          font-size: 1.5vw;
              }
}
@media (min-width: 1200px){
    :root {
          font-size: 18px;
              }
}

body.container{padding-top:1rem;}

/* html.wf-active {font-family:"Fira Sans";} */
html.wf-active body *{font-family:"Fira Sans";}

footer *, footer p{
  font-size:0.8rem;
  color:#dfd0b0;
  margin:0;
}
footer a, footer a:visited{
  color:#DDDDBC;
  /* text-decoration:none; */
}


.tabs form{
  background-color:#ebe5d3;
}

.archiv-link{float:right;}

/* section.section h2{text-align:center;} */
